<!DOCTYPE html>
<html>
<head>
    <title>Servizi</title>
    <link rel="stylesheet" type="text/css" href="service.component.css">
</head>
<body>
    <div class="login-container">
        <h1>Di cosa dispone la casa?</h1>
        
            <form class="form-group"class="login-form" action="servizi.php" method="POST">
                <details>
                    <summary>Servizi</summary>
                    <input type="checkbox" id="Servizi1" name="Servizi1"><label for="Servizi1">Wi-fi</label><br>
                    <input type="checkbox" id="Servizi2" name="Servizi2"><label for="Servizi2">Ascensore</label><br>
                    <input type="checkbox" id="Servizi3" name="Servizi3"><label for="Servizi3">Patio</label><br>
                    <input type="checkbox" id="Servizi4" name="Servizi4"><label for="Servizi4">Parcheggio</label><br>
                    <input type="checkbox" id="Servizi5" name="Servizi5"><label for="Servizi5">Giardino</label><br>
                    <input type="checkbox" id="Servizi6" name="Servizi6"><label for="Servizi6">Piscina</label><br>
                    <input type="checkbox" id="Servizi7" name="Servizi7"><label for="Servizi7">Sistemi di sicurzza</label><br>
                    </details>
                <details>
                    <summary>Arredamento</summary>
                    <input type="checkbox" id="Arredamento1" name="Arredamento1"><label for="Arredamento1">Mobili</label><br>
                    <input type="checkbox" id="Arredamento2" name="Arredamento2"><label for="Arredamento2">Aria condizionata</label><br>
                    <input type="checkbox" id="Arredamento3" name="Arredamento3"><label for="Arredamento3">Cucina</label><br>
                    <input type="checkbox" id="Arredamento4" name="Arredamento4"><label for="Arredamento4">Televisione</label><br>
                    <input type="checkbox" id="Arredamento5" name="Arredamento5"><label for="Arredamento5">Lavatrica</label><br>
                    <input type="checkbox" id="Arredamento6" name="Arredamento6"><label for="Arredamento6">Lavastoviglie</label><br>
                </details>             
            <button type="submit">Conferma</button>
            </form>
    </div>
</body>
</html>