<!-- header start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img ngSrc="{{logoPath}}" width="50" height="50" alt="">
      <span class="text-info">Uni</span>Rent
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Annunci</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Su di noi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Servizi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#log-in">Accedi</a> <!-- TODO -->
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- header end -->

<!-- carousel start -->
<div class="carousel slide" data-bs-ride="false" id="carouselExampleIndicators">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img ngSrc="{{backgroundPath}}" class="d-block w-100" alt="" fill="">
      <div class="carousel-caption">
        <h5>Annunci</h5>
        <p>Trova il tuo alloggio ideale durante gli anni universitari.</p>
        <p><a class="btn btn-info mt-3" href="#">Annunci</a></p>
      </div>
    </div>
  </div>
</div>
<!-- carousel end -->

<!-- about section start -->
<section class="about section-padding" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="about-img">
          <img ngSrc="{{logoPath}}" class="img-fluid" alt="" width="200"
               height="200">
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
        <div class="about-text">
          <h2>Il miglior servizio di affitti<br>
            per studenti universitari in Italia</h2>
          <p>Siamo UniRent, un'azienda che fornisce affitti in maniera semplice
            e al minor prezzo sul mercato. Siamo impegnati a offrirti il miglior
            servizio nella scelta del tuo alloggio ideale durante gli anni universitari.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about section end -->

<!-- services section start -->
<section class="services section-padding" id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>I nostri Servizi</h2>
          <p>Offriamo una gamma di servizi per aiutarti a<br>
            trovare il tuo alloggio ideale per gli anni universitari.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-white text-center bg-dark pb-2">
          <div class="card-body">
            <i class="bi bi-people-fill"></i>
            <h3 class="card-title">Matchmaking</h3>
            <p class="lead">Trova i coinquilini ideali in base ai tui interessi, abitudini di studio e preferenze.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-white text-center bg-dark pb-2">
          <div class="card-body">
            <i class="bi bi-rocket-takeoff-fill"></i>
            <h3 class="card-title">Ricerca Avanzata</h3>
            <p class="lead">Sfrutta il massimo potenziale dell'intelligenza artificiale per trovare il tuo alloggio
              ideale.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-white text-center bg-dark pb-2">
          <div class="card-body">
            <i class="bi bi-chat-left-fill"></i>
            <h3 class="card-title">Chat Integrata</h3>
            <p class="lead">Comunica direttamente con l'affittuario o con il cliente direttamente da UniRent</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services section end -->

<!-- team start -->
<section class="team section-padding" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>Il nostro Team</h2>
          <p>Il team è composto da persone entusiasti di offrire un servizio di qualità.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-center">
          <div class="card-body">
            <img ngSrc="{{dePintoPath}}" width="200" height="200"
                 class="img-fluid rounded-circle"
                 alt="">
            <h3 class="card-title py-2">Francesco de Pinto</h3>
            <p class="card-text">Classe 2000 studente di ingegneria informatica e dell'automazione presso il Politecnico
              di Bari</p>
            <p class="socials">
              <a href="https://www.linkedin.com/in/francesco-de-pinto/" target="_blank">
                <i class="bi bi-linkedin text-dark mx-1"></i></a>
              <a href="https://github.com/Reinharl" target="_blank">
                <i class="bi bi-github text-dark mx-1"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-center">
          <div class="card-body">
            <img ngSrc="{{placeholderCirclePath}}" width="200" height="200"
                 class="img-fluid rounded-circle"
                 alt="">
            <h3 class="card-title py-2">Leo</h3>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo
              tempora esse quibusdam.</p>
            <p class="socials"><i class="bi bi-linkedin text-dark mx-1"></i>
              <i class="bi bi-github text-dark mx-1"></i>
              <i class="bi bi-facebook text-dark mx-1"></i>
              <i class="bi bi-instagram text-dark mx-1"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-center">
          <div class="card-body">
            <img ngSrc="{{placeholderCirclePath}}" width="200" height="200"
                 class="img-fluid rounded-circle"
                 alt="">
            <h3 class="card-title py-2">Matteo Protopapa</h3>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo
              tempora esse quibusdam.</p>
            <p class="socials"><i class="bi bi-linkedin text-dark mx-1"></i>
              <i class="bi bi-github text-dark mx-1"></i>
              <i class="bi bi-facebook text-dark mx-1"></i>
              <i class="bi bi-instagram text-dark mx-1"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team end -->

<!-- footer starts -->
<footer class="bg-dark p-2 text-center">
  <div class="container">
    <p class="text-white">@2023 UniRent. Tutti i diritti riservati</p>
  </div>
</footer>
<!-- footer ends -->
