<!-- header start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/homepage">
      <img ngSrc="{{logoPath}}" width="50" height="50" alt="">
      <span class="text-info">Uni</span>Rent
    </a>
    <button class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/ads">Annunci</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Accedi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- header end -->

<!-- main start -->
<div>
  <router-outlet></router-outlet>
</div>
<!-- main end -->

<!-- footer starts -->
<footer class="bg-dark p-2 text-center">
  <div class="container">
    <p class="text-white">@2023 UniRent. Tutti i diritti riservati</p>
  </div>
</footer>
<!-- footer ends -->
